name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "5.3.0"
          dune-cache: true
          opam-depext-flags: --with-test

      - name: Install cmark-gfm 
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libcmark-gfm-dev

      - name: Install dependencies
        run: |
          opam update
          opam pin add hilite.dev git+https://github.com/patricoferris/hilite.git --yes
          opam install yocaml.2.5.0 yocaml_markdown.2.5.0 yocaml_unix.2.5.0 yocaml_yaml.2.5.0 yocaml_jingoo.2.5.0 yocaml_syndication.2.0.0 --yes
          opam install . --deps-only --with-doc --with-test --yes
          eval $(opam env)

      
      - name: Build site
        run: |
          eval $(opam env)
          dune build --profile=release
          dune exec joy_blog
      
      - name: Setup Pages
        uses: actions/configure-pages@v4
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./_www"
      
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4